{% extends 'base.html.twig' %}

{% block title %}Adicionar Série{% endblock %}

{% block body %}
    <div>
        <a href="{{ path('app_series') }}" class="link-dark">
            <span>
                <svg style="width: 16px;" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 448 512">
                    <path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/>
                </svg>
            </span>
            <span>Voltar</span>
        </a>

        {{ form_start(seriesForm, {'attr': {'class': 'mt-3'}}) }}
        {{ form_row(seriesForm.name) }}
        {{ form_widget(seriesForm.submit, {'attr': {'class': 'btn-dark'}}) }}
        {{ form_end(seriesForm) }}
    </div>
{% endblock %}
